/* CSS Styles for conversation */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#app {
  margin-top: 20px;
}

#post {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;

  /* Center the post on large screens */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.username {
  font-weight: bold;
}

.posreactions,
.negreactions {
  margin-left: 5px;
}

.prediction {
  float: right;
}

.message {
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  text-align: center;
}

/* Additional styles for checkboxes */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background-color: #007bff;
}

label[for^="myCheckbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background-color: #ccc; */
  cursor: pointer;
}

/* Media Query for small screens and mobile */
@media (max-width: 767px) {
  #post {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}


#WillDerail {
  /* make the background be an oval around the text */
  display: inline-block;
    padding: 0.4em 0.6em;
  border-radius: 9999px;
  background-color: red;
}

#WontDerail {
  display: inline-block;
  padding: 0.4em 0.6em;
  border-radius: 9999px;
  /* border-radius: 50%; */
  background-color: green;
}
